body{
    background-color:rgb(224, 226, 241);
    
    margin: -5px;
}
.logo{
    height: 40px;
    width: 40px;
    margin-top: -50px;
    margin-left: 900px;
    cursor: pointer;
}

.container{
    display: flex;
    /* justify-content: space-between; */
    
}

.head{
    margin: 20PX;
}
.navbar {
  
  background: #fff;
  opacity: 0.85;
  height: 20px;
  width: 100%;
  padding: 15px;
  text-align: center;
  margin: 5px;
}
