body{
     /* background-image: url(./img/restaarant101.jpeg ) ;  */
    background-size: 100%;
    background-attachment: fixed;
    margin: -10px;
    background-color:rgb(224, 226, 241);
    
   
    
}

.logo{
    height: 40px;
    width: 40px;
    margin-top: -50px;
    margin-left: 880px;
    cursor: pointer;
}

.logo1{
    height: 30px;
    width: 30px;
    margin-top: -80px;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 20px;

}

.star{
    
        height: 50px;
        width: 100px;
        margin-bottom: 30px;
        margin-left: 20px;
        cursor: pointer;
        margin-top: -55px;
}
.container{
    display: flex;
    /* justify-content: space-between; */
    
}

.head{
    margin: 20PX;
}
.navbar {
  
  background: #fff;
  height: 25px;
  width: 100%;
  padding: 15px;
  text-align: center;
  margin: 5px;
}

/* h1{
    font-family: Jolly Lodger    ;
    color:whitesmoke;
    text-align:  center;
    margin: 10px ;
    padding: 40px;
    font-size: 50px;
} */

.search{
    position: absolute;
    margin-top:100px;
    margin-left: 30%;
    justify-content: center;
    margin-top:-20px;

}

.search input{
    outline: none;
    border: 2px black solid;
    padding: 12px 40px;
    size: 1em;
    width: 100%;
    

}
  
.submit{
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    cursor: pointer;
    border-radius: 10px;
    border: 3px black solid;
    height: 30px;
    width: 70px;
}

/* footer */
footer {
    width: 100%;
    background-color:   #101223;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
 
  ul{
    list-style: none;
    margin-left: -40px; 
 
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
  }

  .footer-col{
    width: 25%;
    padding: 0 15px;
    justify-content: space-between;
    text-align: center;
  }
  h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    /* margin-bottom: 30px; */
    margin: 30px ;
  }

  .no-underline{
    text-decoration:none;
    color:white;
  
  
  }

  .paragraph{
    margin-left: -300px; 
    padding: 0px;
    /* padding-bottom: 10px; */
    color: white;
   
  }

  .icon{
    height: 30px;
    width: 30px;
    margin-top: 0px;
    margin-bottom: -10px;
  }
  